/*  your css code here. If applicable */
body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #011e29;
  color: white;
  text-align: center;
  padding: 10px;
}

.container {
  display: flex;
  margin-top: 10px;
  text-align: center;
  padding: 0 20px;
}

.latest-news-section, .pictorial-news-section {
  width: 25%;
  height: 100%;
  margin: 0 5px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.main-section {
  width: 50%;
  height: 100%;
  padding: 20px;
  background-color: white;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  box-sizing: border-box;
}

img {
  width: 100%;
}